.headerPage {
  text-shadow: 0.2vh 0.2vh 0vh #2c2c2c;
  position: relative;
  top: -30rem;
  margin: auto; 
  text-align: center;
  color: white;
}

#formHolder {
  display: inline-block;
  width:75%;
  background-color:black;
  border: 0.05rem white solid;



}


.buttonText {
    text-shadow: 0.2vh 0.2vh 0vh #2c2c2c;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 2.0rem;
    font-weight: bolder;
    text-transform:uppercase;

}


/* Footer */

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 html,
 body {
  height: 100%;
  position: relative;
 }
 .main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 11rem; /* height of your footer */
 }
 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:11rem;
 }


.footerButton {
  color:white;
  transition: color 0.25s ease-in-out;
}
.footerButton:hover {
  color:rgb(238, 104, 155);
}
/* End Footer */
/* Blinking Animation for Contact */ 
.blinking{
  animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
  0%{     color: []purple;    }
  49%{    color: purple; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: purple;    }
}
/* End Blinking Animation for Contact */
header {
 
}

header video {

}

header .container {

}

header .overlay {

}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url(placebackground.JPG) black no-repeat center center scroll;
  }

}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: rgb(68, 68, 68); /* IE */
  background: rgb(0, 0, 0); /* NON-IE */
  border-bottom: 0.20rem solid purple;
}



#navlink {
    color: #acacac;
    transition: color 0.5s ease-in-out;
   font-family: 'Roboto Condensed', sans-serif;
}
#navlinkactive {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

.txtLg {
    font-size: 1.5rem;
}
#navlink:hover {
    color: white;
}

#navlink:active {
    color:white;
}




figure.snip1105 {
  position: relative;
  overflow: hidden;
  height: 30rem;
  text-align: center;
  background-color: black;
  border-style: none !important; 
}


figure.snip1105 * {
  -webkit-transition: all 1.1s ease-in-out;
  transition: all 1.1s ease-in-out;
}

figure.snip1105 img {
  transition: all 1.1s ease-in-out; 
  opacity:0.9; 
  filter: blur(2px);
  background-repeat: no-repeat;
  background-size: cover; width:100%; height:100%;
}

figure.snip1105 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.imgHeaderText {
  -webkit-transition: all 0.3s linear !important;
  transition: all 0.3s linear !important;
    color:white;
    text-shadow: 0.2vh 0.2vh 0vh #2c2c2c;
    font-family: 'Roboto Condensed',sans-serif;
    position: absolute;
    left: 5%;
    right: 5%;
    padding: 5rem 3rem;
    border-radius: 2em;
    position: bottom;
    font-size: 3.5rem;
    font-weight: bolder;
    text-transform:uppercase;
    line-height:3.0rem;
    z-index:10;
    height:100%;
}

figure.snip1105 h33 {
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  position: absolute;
  top:10rem;
  left: 10%;
  right: 10%;
  text-shadow: 0.2vh 0.2vh 0vh #2c2c2c;
  color: white;
  font-size: 1.30rem;
  padding: 12px 12px;
  margin: 0;
  opacity: 0;
  z-index:15;
  font-family: 'Roboto', sans-serif;
}

figure.snip1105:hover .imgHeaderText {
  opacity: 0.5;
  font-size: 2rem;
  transform:translate(0%, -5%);
}


figure.snip1105:hover h33 {
  -webkit-transform: translate(0%, -10%);
  opacity: 1;
  transform:translate(0%, -10%);
}


@media only screen and (max-width: 1600px) {
  .imgHeaderText {
    font-size: 3rem;
    line-height:2.5rem;

}
figure.snip1105 h33 {
  top:10rem;
  font-size: 1.25rem;

}
figure.snip1105:hover .imgHeaderText {
  font-size: 2.0rem;
  transform:translate(0%, -5%);
}
.headerPage {
top: -20rem;
}
}

@media only screen and (max-width: 1500px) {
  figure.snip1105 {
    height:15rem;
  }
  .imgHeaderText {
    top: 2rem;
    padding: 2rem 1rem;
}
figure.snip1105 h33 {

    top:7rem;
    font-size: 0.8rem;
  
  }
  figure.snip1105:hover .imgHeaderText {
    font-size: 1.5rem;
    transform:translate(0%, -10%);
  }

}

@media only screen and (max-width: 1200px) {
  figure.snip1105 {
    height:8rem;
  }
  .imgHeaderText {
    top: 1.0rem;
    font-size:2.5rem;
}
figure.snip1105:hover .imgHeaderText {
  font-size: 1.5rem;
  transform:translate(0%, -32%);
}
figure.snip1105 h33 {
  top:2.8rem;
  font-size: 0.7rem;
}
.formHolder {
  width:65rem;
}

}
@media only screen and (max-width: 1000px) {
  figure.snip1105 h33 {

    top:2rem;
    font-size: 0.8rem;
  }
  figure.snip1105 {
    height:10rem;
  }
  .imgHeaderText {
    top: 0.5rem;
    font-size:2.5rem;
}
  figure.snip1105:hover .imgHeaderText {
    font-size: 3.5rem;
    transform:translate(0%, -10%);
  }
  figure.snip1105:hover .imgHeaderText {
    font-size: 1.5rem;
    transform:translate(0%, -22%);
  }
  figure.snip1105 h33 {
    top:3rem;
    font-size: 0.7rem;
  }
  .formHolder {
    width:55rem;
  }
  .phoneBackground {
    background-color:black; 
    opacity:1.0;

  }
  .buttonText {
    font-size: 2rem;
  }
  .main-container {
    padding-top: 5rem; /* height of your footer */
   }
   headerPage {
     font-size: 8rem;
   }
}
@media only screen and (max-width: 800px) {
  .formHolder {
    width:45rem;
  }
}
@media only screen and (max-width: 500px) {
  .imgHeaderText {
    top: 3rem;
}
  figure.snip1105 {
    height:20rem;
  }
  figure.snip1105 h33 {
    top:4rem;
    font-size: 1rem;
  }

}
/* @media only screen and (max-width: 1800px) {
  figure.snip1105 h33 { 
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1750px) {
  figure.snip1105 h33 { 
    font-size: 0.75rem;
    color: black;
    top: -0.5 rem;
  }
}



@media only screen and (max-width: 1000px) {
  figure.snip1105 {
    height: 5rem;
    text-align: center;
    }
    #smallerheight {
      height: 5rem;
    }
    figure.snip1105 h10 {
    font-size: 1rem;
    left: 5%;
    right: 5%;
    padding: 0.8rem 0.8rem;
    border-radius: 4em 8em;
    top: 1em;
    font-weight: 200;
    opacity:1; 
    }
    figure.snip1105 h33 { 
  font-size: 0.4rem;
  color: black;
  top: -1 rem;
    }
}
*/
/*

/* Creation and Position of New Black Text Box */
/* Color of New Black Text Box 
@media only screen and (max-width: 1300px) {
    #imgHeaderText {
        font-size:1.5rem;
    }
  }
@media only screen and (max-width: 1200px) {
    figure.snip1105 {
      height: 15rem;
    
    }
    #imgHeaderText {
        top: 3rem;
    }
  }

  @media only screen and (max-width: 1000px) {
    figure.snip1105 {
      height: 6rem;
    
    }
    #imgHeaderText {
        top: 0.5rem;
        padding: 0.5rem, 0.5rem;
        line-height:1.0rem;
    }
  }

figure.snip1105:hover #imgHeaderText,
figure.snip1105.hover #imgHeaderText {
  -webkit-transform: translate(0%, -400%);
  opacity: 0;
  transform:translate(0%, -400%);
  background-color:black;
  color:grey;
}

figure.snip1105:hover img,
figure.snip1105.hover img {
  transform: scale(1.1);
  -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity:1;
}
figure.snip1105:hover,
figure.snip1105.hover  {
    opacity: 1;

  }
figure.snip1105:hover:before,
figure.snip1105.hover:before {

}







/*









*/

@-webkit-keyframes swing {
    10% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    30% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    65% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

}
@keyframes swing {
    10% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    30% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

}
.swing:hover
{
    -webkit-animation: swing 0.6s ease;
    animation: swing 0.6s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/* Various Hover-Blurs With Backgrounds */ 
figure.snip1105 #hover-blur {
  opacity:1;
  filter: blur(0);
 
  background-color:black;
  transition: all 1.1s ease-in-out; opacity:0.9; background-image: url(BG1.jpg);
                    background-repeat: no-repeat;
                    background-size: cover; width:100%; height:100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1105:hover #hover-blur {
  filter: blur(0.2rem);
  opacity:0.5;
}
figure.snip1105 #hover-blur2 {
  opacity:1;
  filter: blur(0);
 
  background-color:black;
  transition: all 1.1s ease-in-out; opacity:0.9; background-image: url(BG2.jpg);
                    background-repeat: no-repeat;
                    background-size: cover; width:100%; height:100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1105:hover #hover-blur2 {
  filter: blur(0.2rem);
  opacity:0.5;
}
figure.snip1105 #hover-blur3 {
  opacity:1;
  filter: blur(0);
 
  background-color:black;
  transition: all 1.1s ease-in-out; opacity:0.9; background-image: url(BG3.jpg);
                    background-repeat: no-repeat;
                    background-size: cover; width:100%; height:100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1105:hover #hover-blur3 {
  filter: blur(0.2rem);
  opacity:0.5;
}
/* End various hover-blurs















*/
.glitch {


  mix-blend-mode: lighten;
  }
  .glitch:before, .glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 3;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
  }
  .glitch:before {
  left: -3px;
  text-shadow: 3px 0 rgba(236, 25, 190, 0.7);
  }
  .glitch:after {
  left: 2px;
  text-shadow: -3px 0 rgba(0, 0, 255, 0.7);
  }
  .glitch:hover:before {
  text-shadow: 4px 0 rgba(236, 25, 190, 0.7);
  animation: glitch-loop-1 0.2s infinite ease-in-out alternate-reverse;
  }
  .glitch:hover:after {
  text-shadow: -4px 0 rgba(0, 0, 255, 0.7);
  animation: glitch-loop-2 0.2s  linear normal;
  }





  @keyframes glitch-loop-1 {
  0% {
  clip: rect(36px, 9999px, 9px, 0);
  }
  25% {
  clip: rect(25px, 9999px, 99px, 0);
  }
  50% {
  clip: rect(50px, 9999px, 102px, 0);
  }
  75% {
  clip: rect(30px, 9999px, 92px, 0);
  }
  100% {
  clip: rect(91px, 9999px, 98px, 0);
  }
  }
  @keyframes glitch-loop-2 {
  0% {
  top: -1px;
  left: 1px;
  clip: rect(65px, 9999px, 119px, 0);
  }
  25% {
  top: -6px;
  left: 4px;
  clip: rect(79px, 9999px, 19px, 0);
  }
  50% {
  top: -3px;
  left: 2px;
  clip: rect(68px, 9999px, 11px, 0);
  }
  75% {
  top: 0px;
  left: -4px;
  clip: rect(95px, 9999px, 53px, 0);
  }
  100% {
  top: -1px;
  left: -1px;
  clip: rect(31px, 9999px, 149px, 0);
  }
  }

